<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          Lengry Sophakneath
        </a>
      </h1>
      <p class="lead">
        sophakneath08@snu.ac.kr
        pheakneath8@gmail.com
        +82-10-9882-0797
        MS, Seoul National University, Seoul, Repulic of Korea
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Github</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Certificate Sources</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Transcript</a>
      <span class="sidebar-nav-item">Last Update: 19/06/2024/span>
    </nav>
  </div>
</div>
