<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/images/profile.jpg" alt="Image">
      <h2 style="color: whitesmoke;">Lengry Sophakneath</h2>
      <p class="lead">
        <span style="font-size: 23px;">sophakneath08@snu.ac.kr</span><br>
        <span style="font-size: 23px;">pheakneath8@gmail.com</span><br>
        <span style="font-size: 23px;">+82-10-9882-0797</span><br>
        <span style="font-size: 23px;">MS, Seoul National University, Seoul, Republic of Korea</span>
      </p>  
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="https://github.com/Sophakneath">Github</a>
      <a class="sidebar-nav-item" href="https://drive.google.com/file/d/1qdgoC0jonUFgSs99tQuSFGLQCOI3aZyh/view?usp=sharing">Certificate Sources</a>
      <a class="sidebar-nav-item" href="https://drive.google.com/file/d/1MBfR9nm-QcnTCxEN74mvr3U8CHaoOd7_/view?usp=sharing">Transcript</a>
      <span class="sidebar-nav-item">Last Update: 19/06/2024</span>
    </nav>
  </div>
</div>
